<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A_</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
	</array>
	<key>standard</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>W</string>
		<string>V</string>
	</array>
</dict>
</plist>
