import os

BASE = os.path.join(os.path.dirname(os.path.realpath(__file__)), '..', 'frt_server')

# set to a string value to create an admin user on first launch
ADMIN_USER_PASSWORD = None

POPULATE_SAMPLE_DATA = True

SECRET_KEY = 'insert_secret_key_here'
HOST = "127.0.0.1"
PORT = 8000
DEBUG = False
REQUEST_DEBUG = True
RESPONSE_DEBUG = True
DATA_PRINT_LIMIT = 500
TOKEN_EXPIRATION = 24*60*60
OPLOG = False #change to True to enable logging to a file
OPLOG_NAME = 'oplog' #name of log-collection in the database

# empty database path means in-memory
DATABASE_PATH = 'sqlite:////tmp/frt_server.db'

UPLOAD_FOLDER = os.path.join(BASE, 'uploads')
ATTACHMENT_UPLOAD_FOLDER = os.path.join(UPLOAD_FOLDER, 'attachment')
FAMILY_UPLOAD_FOLDER = os.path.join(UPLOAD_FOLDER, 'family')
OTF_UPLOAD_FOLDER = os.path.join(UPLOAD_FOLDER, 'otf')
AVATAR_UPLOAD_FOLDER = os.path.join(UPLOAD_FOLDER, 'user_avatar')
MEDIA_FOLDER = os.path.join(BASE, 'media')
FEEDBACK_UPLOAD_FOLDER = os.path.join(UPLOAD_FOLDER, 'feedback')
